[Desktop Entry]
Type=Application
Version=2.5
Encoding=UTF-8
Name=Xonotic (SDL)
Comment=Free open-source first person shooter
Icon=xonotic
Exec=bash -c '/usr/bin/xonotic-sdl > /dev/null'
Terminal=false
StartupNotify=false
Categories=Game;
